#insc{
    width: 200px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;


    }

#enregistrer{
    margin-top: 17.7px;
    display: block;
}
 td{
     border: solid black;
 }

 #mod
 {
     margin: auto;
     width: 30%;
     height: 550px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }